body, html{
	
	margin:0;
	overflow:hidden;
	font-family:arial;
	
}

#background {
	
	width:100vw;
	height:100vh;

	
}

img {
	
	display:block;
	
}

header {
	
	width:100vw;
	height:7.7vh;
	border: solid 0px black;
	position: absolute;
	top:0;
	left:0;
	overflow:hidden;
}

#fleche {
	
	border-radius: 50%;
	position: absolute;
	width:4vh;
	height:auto;
	left:5.37vw;
	top:2vh;
}

#cqr { 

	border-radius: 50%;
	position:absolute;
	width:4.6vh;
	height:auto;
	right:3.8vw;
	top:1.7vh;
	
}

#logo {

	height:50.55vh;
	width:100vw;
	border: solid 0px black;
	position:absolute;
	top:7.7vh;
	text-align:center;
}

#imgLogo {

	border-radius:50%;
	width: auto;
	height: 26vh;
	display:inline;
	margin-top:12.3vh;

}

#titreCadre1 {

	border: solid 0px black;
	width:100vw;
	height:8.5vh;
	position:absolute;
	top:58.35vh;
	text-align:center;

}

#voyage {

	height:2.65vh;
	position:absolute;
	top:2vh;
	left:6.4vw;

}

#periode {

	display:inline;
	height:1.58vh;
	position:relative;
	top:6.3vh;
	
}

.datesContainer {

	width:50vw;
	height:9.9vh;
	position:absolute;
	top:67.1vh;
	border: solid 0px black;
	text-align:center;
	font-weight:870;
	font-size:3.5vh;
}

.dates {

	margin-top:0.6vh;
	padding-right:0.6vw;

}

#date2 {

	left:50vw;

}

.heure {

font-weight:500;
font-size:3.2vh;
position:relative;
top:-4.25vh;
padding-right:0.6vw;

}

/* border: solid 1px black; */