body, html{
	
	margin:0;
	overflow:hidden;
	font-family:arial;
	border:solid 0px black;
	
}

#background {
	
	width:100vw;
	height:100vh;

	
}

img {
	
	display:block;
	
}

header {
	
	width:100vw;
	height:7.7vh;
	border: solid 0px black;
	position: absolute;
	top:0;
	left:0;
	
}

#fleche {
	
	border-radius: 50%;
	position: absolute;
	width:3.4vh;
	height:auto;
	left:8.5vw;
	top:2vh;
	margin-left:-1.5vh;
	border:solid 0px black;
}

#cqr { 

	border-radius: 50%;
	position:absolute;
	width:4.1vh;
	height:auto;
	right:7.2vw;
	top:1.7vh;
	margin-right:-1.7vh;
	border:solid 0px black;
	
}

#logo {

	height:50.55vh;
	width:100vw;
	border: solid 0px black;
	position:absolute;
	top:7.7vh;
	text-align:center;
}

#imgLogo {

	border-radius:50%;
	width: auto;
	height: 23.5vh;
	display:inline;
	margin-top:13.6vh;
	border:solid 0px black;

}

.animeBoule {

	border:solid 0px black;
	position:absolute;
	top:13.5vh;
	left:50vw;
	margin-left:-11.8vh;
	width:23.5vh;
	height:23.5vh;
	border-radius:50%;
	z-index: 2;

}

@keyframes rotateBoule {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.animeBouleEnd {

	animation-duration: 3000ms;
	animation-name: rotateBoule;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.bouleStga {

	width: 4.48vh;
	height:4.48vh;
	border: solid black 0px;
	position:absolute;
	border-radius: 50%;
	top:50%;
	margin-top:-2.24vh;

}

#bouleStga1 {

	margin-left:-2.4vh;
	background-color: blue;
}

#bouleStga2 {

	right:0;
	margin-right:-2.4vh;
	background-color: orange;

}

#titreCadre1 {

	border: solid 0px black;
	width:100vw;
	height:8.5vh;
	position:absolute;
	top:58.35vh;

}

#voyage {

	height:2.45vh;
	position:absolute;
	top:2vh;
	left:14.5vw;
	margin-left:-3.9vh;
	

}

#periode {

	height:1.46vh;
	position:absolute;
	left:50vw;
	top:7.06vh;
	margin-left:-7.33vh;
	
}

.datesContainer {

	width:50vw;
	height:9.9vh;
	position:absolute;
	top:67.1vh;
	border: solid 0px black;
	font-weight:800;
	font-size:3.05vh;
}

.dates {

	position:absolute;
	top:-2.25vh;
	margin-left:-8.1vh;
}

#date1 {

	left:24.8vw;

}

#date2 {

	left:75vw;
	width:25vw;
	border: solid 0px black;
	

}

.heure {

	font-weight:500;
	font-size:2.75vh;
	position:absolute;
	top:1.5vh;
	margin-left:-3.4vh;
	left:-0.3vw;

}

#container {

	position:absolute;
	top:77vh;
	height:15.9vh;
	width:100vw;
	border:solid 0px black;

}

#info { 

	position:absolute;
	left:50vw;
	top:1.4vh;
	height:1.58vh;
	margin-left:-10.8vh;

}

#picto {

	position:absolute;
	top:4.73vh;
	left:14.45vw;
	height:6.15vh;
	margin-left:-3.37vh;

}

#dateControle {

	position:absolute;
	left:49vw;
	top:2vh;
	font-size:3.2vh;
	font-weight:800;
	margin-left:-9vh;

}

#jsHeure3 {

	position:absolute;
	top:4.65vh;
	left:49vw;
	font-size:2.85vh;
	font-weight:500;
	margin-left:-3.8vh;

}

#numSerie {

	height:2.12vh;
	position:absolute;
	top:12.24vh;
	left:50vw;
	margin-left:-14.3vh;

}

#compteurPos {

	position:absolute;
	top:4.6vh;
	right:13vw;
	font-weight: 750;
	font-size: 2.9vh;
	color: #00d00a;
	letter-spacing:-0.1vh;
	margin-right:-2.5vh;

}



#footer {

	position:absolute;
	top:92.9vh;
	width:100vw;
	height:7.1vh;
	border:solid 0px black;

}

#charge {

	position:absolute ;
	top:3.4vh ;
	left:4.25vw ;
	width: 91.3vw;
	height:1.5vh;
	background-color: black;
	border-radius: 0.75vh;
	overflow:hidden;
	
}

#debutCharge {

	height: 100%;
	width: 5%;
	background-color: #00d00a;
	float:left;


}

.defaultCharge{

	height: 100%;
	width: 95%;
	background-color: #00d00a;
	float:left;
	border: solid black 0px;
	transform:scaleX(0);
	transform-origin: left;
}

.animeCharge {

	transform:scaleX(1);
	transition:transform 3600000ms linear;
}

#zone {
	
	position:absolute;
	top:7.7vh;
	border: solid 0px black;
	width: 100vw;
	height:92.3vh;
	z-index:4;
	user-select:none;
	overflow:hidden;
}

/* border: solid 1px black; */